@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
form{ 
    color: white;
    background-color: rgb(46, 46, 46);
    box-shadow: 0 5px 15px black;
    width: 40%;
    margin: auto;
  padding-bottom: 30px;
    /* тень, размер цвет фона, поставить по центру, сделать текст белым */
}
.formhead{
    background-color: rgb(61, 207, 255);
    
}
.formhead a{
    background-color: white;
    text-decoration: none;
    color: black;
    padding: 10px ;
    
    /* вписать что нужно */
}
.formhead p{
    color: white;
    display: inline-block;
    padding: 10px 0;
    text-align: center;
    margin: 0;
    /* вписать что нужно */
}
body {
    background-color: rgb(46, 46, 46);
}
fieldset {
    padding: 15px;
    margin: 15px;
}
input[type="text"],textarea {
    background-color: transparent;
    padding: 10px;
    width: 100%;
    border: none;
    border-bottom: 1px solid white;
    margin: 10px 0px;
}
p {
    margin: 15px 0px;
}
input[type="checkbox"] {
}
input[type="radio"] {
    margin-right: 5px;
}
.gender {
    margin-right: 10px;
}
.age {
    margin-left: 5px;
}
.hblock {
    margin: 10px 0;
}
button {
    background: rgb(232,255,0);
background: linear-gradient(90deg, rgba(232,255,0,1) 0%, rgba(0,212,255,1) 26%, rgba(0,212,255,1) 100%);
padding: 15px 30px;
margin: auto;
border: none;
color: white;
display: block;
}
button a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}
