@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    background: rgb(46, 46, 46);
}
.conteiner {
    width: 80%;
    margin: auto;
}
.menu {
    background-color: rgb(46, 46, 46);
    box-shadow: 0 5px 10px black;
    padding: 20px;
}
.menu a{
   text-decoration: none;
   color: white;
   font-size: 18px  ;
}
.menu li{
    display: inline-block;
    margin: 0 15px;
    list-style: none;
}
.menulist {
    display: inline-block;
    float: right;
}                                                           
.logo_text{
font-size: 18px;
}
.header {
    background-image: url(img/apex-legends-pathfinder-robot-emoticons-saluting-futuristic.jpg);
    height: 100vh;
    padding: 150px 120px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
h1 {
    font-size: 70px;
    width: 40%;
    color: rgb(46, 46, 46);
}
.header h2{
    font-size: 50px;
    margin: 40px 0;
    color: rgb(94, 94, 94);
}
.header a{
    color: white;
    text-decoration: none;
    width: 40%;
    background: linear-gradient(to right, rgb(0, 225, 255), turquoise);
    padding: 25px 20px;
    display: inline-block;
}
.deskrip {
    background-color: rgb(46, 46, 46);
    color: #65DAFF;
    padding: 50px 0;
}
.deskrip_item {
    width: 24%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}
.deskrip_item p {
    font-size: 30px;
}
.game {
    background-color: rgb(46, 46, 46);
    padding: 50px 0;
    color: white;
}
.gamecontent {
    background-color: rgb(46, 46, 46);
    padding: 10px;
    box-shadow: 0 5px 15px black;
}
.game h2{
    color: #65DAFF;
    text-align: center;
    font-size: 40px;
    margin: 15px 0;
}
.game h3{
    color: turquoise;
    font-size: 30px;
}
.game hr{
    width: 150px;
    border-radius: 15px;
    border: 2px solid turquoise;
    margin: 15px 0;
}
.gamecardtext{
    width: 49%;
    display: inline-block;
    vertical-align: top;
}
.gamecardimage{
    width: 49%;
    display: inline-block;
}
.mediaimg{
    display: none;
    width: 49%;
}
.siteimg {
    width: 49%;
    display: inline-block;

}
.mediaimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.siteimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gamecardimage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gamecard {
    margin: auto;
}
.gamecard p {
    font-size: 23px;
}
.information {
    background-color: rgb(46, 46, 46);
    padding: 30px 0;
}
.information h2 {
    color: #65DAFF;
    text-align: center;
    font-size: 40px;
    margin: 15px 0;
}
.boxinfo {
    background-color: rgb(46, 46, 46);
    padding: 40px 0;
    box-shadow: 0 5px 15px black;
}
.bluebox {
    background-color: #65DAFF;
    padding: 30px;
    width: 90%;
    margin: auto;
}
.bluebox p{
    color: white;
    width: 50%;
    display: inline-block;
    font-size: 32px;
    font-weight: bolder;
}
.button{
    display: inline-block;
    background-color: black;
    color: white;
    padding: 10px 40px;
    width: 30%;
    text-decoration: none;
    text-align: center;
}
.boxinfo hr{
    margin: 25px auto   ;
    background-color: white;
    height: 3px;
    width: 30%;
}
.infodescr{
    font-size: 21px;
    text-align: center;
    color: white;
    padding: 15px 0;
}
